/* .App {
  text-align: center;
} */

body {
  background-image:url("/public/images/maxim-ivanov-9M9VYzjHYB8-unsplash.jpg");
  height: 500px; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

.App-header {
  /* background-color: #282c34; */
  /* background-image: url("/public/images/leohoho-rngTKHXumy0-unsplash.jpg"); */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
